/*http://soqr.fr/vertical-rhythm*/
/* margin ou padding
 * overflow avec relative
 * ne plus mettre des liens avec des ul/li */
/* */
/* inline avec padding ?
 http://css-tricks.com/snippets/jquery/add-active-navigation-class-based-on-url/ 
 */
/*
http://ethanschoonover.com/solarized

base 01: #586e75 : nav text
base 00: #657b83 : bordure, text
base 1:  #93a1a1 : background nav
base 2:  #eee8d5 : background body
base 3:  #fdf6e3 : background content
yellow:  #b58900 : lien
*/
/* http://www.lafermeduweb.net/billet/comment-choisir-les-bonnes-polices-d-ecritures-pour-son-site-web-874.html
   serif : titre, sans serif : texte 
*/
/* 

--- Vertical Rhythm Tool - http://soqr.fr/vertical-rhythm/ --- 
           Font-size : 16px  Line-height : 1.5

*/

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6em;
    line-height: 1.5;
}
p, 
ul, 
ol, 
dl, 
blockquote, 
pre, 
td, 
th, 
textarea {
    font-size: 1em; /* equiv 16px */
    line-height: 1.5;
    margin: 1.5em 0;
}
h1, 
.h1-like {
    font-size:  1.75em; /* equiv 28px */
    line-height: 1.7142;
    margin:  1.7142em 0 .8571em 0;
}
h2, 
.h2-like {
    font-size:  1.625em; /* equiv 26px */
    line-height: 1.8462;
    margin:  1.8462em 0 .9231em 0;
}
h3, 
.h3-like {
    font-size:  1.5em; /* equiv 24px */
    line-height:  1;
    margin:  2em 0  1em 0;
}
h4, 
.h4-like {
    font-size:  1.375em; /* equiv 22px */
    line-height:  1.0909;
    margin:  2.1818em 0  1.0909em 0;
}
h5, 
.h5-like {
    font-size:  1.25em; /* equiv 20px */
    line-height:  1.2;
    margin:  2.4em 0  1.2em 0;
}
h6, 
.h6-like {
    font-size:  1.125em; /* equiv 18px */
    line-height:  1.3333;
    margin:  2.6666em 0  1.3333em 0;
}
.smaller {
    font-size: .75em; /* equiv 12px */
    line-height:  2;
    margin:  2em 0  2em 0;
}
.small {
    font-size: .875em; /* equiv 14px */
    line-height:  1.7143;
    margin:  1.7143em 0  1.7143em 0;
}
.big {
    font-size:  1.125em; /* equiv 18px */
    line-height:  1.3333;
    margin:  1.3333em 0  1.3333em 0;
}
.bigger {
    font-size:  1.25em; /* equiv 20px */
    line-height:  1.2;
    margin:  1.2em 0  1.2em 0;
}
.biggest {
    font-size:  1.375em; /* equiv 22px */
    line-height:  1.0909;
    margin:  1.0909em 0  1.0909em 0;
}
/* avoid collapsing margins
you might need this, depending on your design
*/
/*
h1:first-child, 
h2:first-child, 
h3:first-child, 
h4:first-child, 
h5:first-child, 
h6:first-child {
    margin-top: 0;
}
*/
/* avoid last-child bottom margin */
p:last-child, 
ul:last-child, 
ol:last-child, 
dl:last-child, 
blockquote:last-child, 
pre:last-child, 
table:last-child {
    margin-bottom: 0;
}


/* avoid supp margin on nested elements */
li p,
li ul {
    margin-top: 0;
    margin-bottom: 0;
}
/* you shall not pass */
textarea,
table, 
td, 
th, 
code, 
pre, 
samp, 
div, 
p {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
code, 
pre, 
samp {
    white-space: pre-wrap;
    font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
}
code {
    line-height: 1;
}
pre.prettyprint {
   background-color: #EEE8D5;
   padding: 16px;
   border: 0;
}
table {
    margin-bottom: 1.5em;
}
/* END --- Vertical Rhythm Tool - http://soqr.fr/vertical-rhythm/ --- */

* {
    margin: 0;
    padding: 0;
}
/* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
body {
    background: #eee7d5;
    margin: 0;
    color: #657b83;
    font-family: 'Open Sans', sans-serif;
}
/*    font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif */
h1, h2, h3, h4, .h1-like, .entry-title {
    font-family: 'Bree Serif', serif;
}

/* --- header --- */
.name {
    margin-bottom: 0px;
}
.description {
    margin-top:0px;
    margin-right:48px;
    margin-bottom:24px;
}
.entry-title {
    margin-bottom: 0px;
}
.entry-date {
    color: #9a9a9a;
}
/* for background color on header */
header {
    overflow: auto;
}
header, .row {
    background: #fdf6e3;
}
header > div {
    padding: 0px 40px;
}
/* Navigation menu */
.menu {
    background: #93a1a1;
    margin-top: 20px;
}
.active {
    background: #fdf6e3;
}
.menu a {
    padding: 0px 12px;
    color: #586E75;
    transition: color 400ms ease;
}
.link a:hover {
    background: #fdf6e3;
}
.social a:hover {
    background: #93a1a1;
    color : #fdf6e3;
}
.unstyled {
    list-style: none outside none;
}
.menu {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.link {
    display:flex;
}
.social {
    display:flex;
}
a {
    color: #b58900;
    text-decoration: none;
}
a:hover {
    background: #eee8d5; 
}
table {
    border-collapse:collapse;
    width: 100%;
}
th {
    text-align: left;
}
table, td, th {
    border: 1px solid;
}
td, th {
    padding: 8px;
}
dl dt, dl dd {
    display: inline-block;
    min-height: 1.5em;
    vertical-align: top;
}
dl dt {
    margin-right: 10px;
    width: 20%;
}
dl dd {
    border-left: 1px solid rgb(51, 51, 51);
    padding-left: 10px;
    width: 75%;
}
dl h4, dl h5 {
    margin-top: 0px;
}
.row{
    padding:0px 40px 40px 40px;
    position:relative;
}
code {
    background-color: #EEE8D5;
    padding: 5px;
    font-size: 85%;
}

p code {
    box-shadow: 0 1px 3px rgba(0,0,0,0.1),0 1px 1px rgba(0,0,0,0.1),0 2px 1px -1px rgba(0,0,0,0.12);
}
ol, ul {
    padding-left: 40px;
}
.container {
    max-width: 940px;
    margin: 0 auto;
}

.previous a {
    float: left;
}
.next a {
    float: right;
}
.previous, .next {
    position: absolute;
    background-color: #93A1A1;
    width: 40px;
    height: 40px;
    top: 60px;
    color: #586E75;
    text-align: center;
    transition: transform 400ms ease;
}
.previous {
    left: -40px;
}
.next {
    right: -40px;
}
.previous:hover, .next:hover {
    transform: scale(1.5);
    /*width: 50px;
    left: -50px;*/
    background-color: #93A1A1;
}
@font-face {
    font-family: 'socicon';
    src: url('/assets/font/socicon-webfont.eot');
    src: url('/assets/font/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/font/socicon-webfont.woff') format('woff'),
         url('/assets/font/socicon-webfont.ttf') format('truetype'),
         url('/assets/font/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    text-transform: initial;
}
/* imported with : https://google-webfonts-helper.herokuapp.com/fonts */

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/font/open-sans-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/font/open-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/font/open-sans-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/font/open-sans-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/font/open-sans-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/font/open-sans-v18-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* bree-serif-regular - latin */
@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/font/bree-serif-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/font/bree-serif-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/font/bree-serif-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/font/bree-serif-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/font/bree-serif-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/font/bree-serif-v10-latin-regular.svg#BreeSerif') format('svg'); /* Legacy iOS */
}

.socicon {
    font-family: 'socicon' !important;
    font-size: 32px;
}
.time {
    float: left;
    text-align: right;
    padding-right: 20px;
    width: 120px;
}
ol > li:target {
    background: none repeat scroll 0 0 #DDEEFF;
}
#copyright {
    text-align:center;
}
