<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}|Yann Moisan</title>
    <meta name="description" content="{{ page.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="6C_Yu8j-I-U3pjFBjHojSiqvDPxhKJuYqap_tSXV8M4" />
    <link href="/assets/prettify.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/assets/prettify.js"></script>
    <link media="all" href="/assets/yamo.css" type="text/css" rel="stylesheet" />

    <link rel="shortcut icon" href="https://www.yannmoisan.com/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="https://www.yannmoisan.com/favicon.ico" />

    {% feed_meta %}

    <link href='https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans' rel='stylesheet' type='text/css'>
    <script>
  window.onload = (function(){
     [].forEach.call(document.getElementsByTagName("pre"), function(el) {
    el.classList.add("prettyprint");
  });

  // 2. Run
  prettyPrint();
   });
</script>

</head>
<body>

<div class="container">
    <header class="header">
        <div>
            <h1 class="name">Yann Moisan</h1>
            <p class="description">Scala, Web, Linux…</p>
        </div>
        <nav class="menu">
            <div class="link">
                <a href="index.html">Billets</a>
                <a href="a-propos.html">A propos</a>
                <a href="cv.html">CV</a>
            </div>
            <div class="social">
                <a href="https://twitter.com/yannmoisan"><span class="socicon">a</span></a>
                <a href="https://www.linkedin.com/pub/yann-moisan/46/717/17"><span class="socicon">j</span></a>
                <a href="feed.xml"><span class="socicon">,</span></a>
                <a href="mailto:yamo93+blog@gmail.com"><span class="socicon">@</span></a>
                <a href="https://stackoverflow.com/users/1437346/yann-moisan"><span class="socicon">(</span></a>
                <a href="https://github.com/YannMoisan"><span class="socicon">Q</span></a>
            </div>
        </nav>
    </header>

    <script>
var page = location.pathname.split("/")
document.querySelector('nav a[href^="' + page[page.length-1] + '"]').classList.add('active')
     </script>
    <div class="row">
        {{ content }}
    </div>
    <footer>
        <p id="copyright">&copy; 2015 Yann Moisan</p>
    </footer>
</div>
</body>
</html>

