/*
http://ethanschoonover.com/solarized

base 01: #586e75 : nav text
base 00: #657b83 : bordure, text
base 1:  #93a1a1 : background nav
base 2:  #eee8d5 : background body
base 3:  #fdf6e3 : background content
yellow:  #b58900 : lien
*/
* {
    margin: 0;
    padding: 0;
}
body {
    background: #eee8d5;
    margin: 0;
    color: #657b8;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 24px;
}
blockquote {
    color: #383838;
    font-family: Georgia,serif;
    font-size: 18px;
    font-style: italic;
    line-height: 1.45;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    position: relative;
    width: 500px;
}
blockquote:before {
    color: #7A7A7A;
    content: "“";
    display: block;
    font-size: 80px;
    left: -20px;
    position: absolute;
    top: -20px;
}
blockquote cite {
    color: #999999;
    display: block;
    font-size: 14px;
    margin-top: 5px;
}
blockquote cite:before {
    content: "— ";
}
a {
    color: #b58900;
    text-decoration: none;
}
a:hover {
    background: #eee8d5; 
}

dl dt, dl dd {
    display: inline-block;
    min-height: 1.5em;
    vertical-align: top;
}
dl dt {
    margin-right: 10px;
    width: 20%;
}
dl dd {
    width: 75%;
}
.row, .hleft{
    padding:20px 40px 20px 40px
}
p, ul {
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, pre {
    margin-bottom: 10px;
}
/*
p, h1, h2, h3, h4, dl, pre, .pager, .entry-date, pre.prettyprint {
    padding-left: 20px;
    padding-right: 20px;
}*/
pre {
    margin-right:20px;
}

code {
    border: 1px solid #AAAAAA;
    padding: 0 4px;
}

pre {
    overflow-x:auto;
}
ul {
    padding-left: 40px;
}
aside p {
    margin : 16px 0px 8px 0px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
aside a {
    display: block;
    margin: 0 -20px;
    padding : 3px 20px;
}
.container {
    width: 940px;
    margin: 0 auto;
}

.clearfix {
    clear: both;
}
header {
    overflow: auto;
}

.container > header, .row {
    background: #fdf6e3;
    border: 1px solid #93a1a1;
}
nav {
    background: #93a1a1;
    display: block;
    margin-bottom: 20px;
    /*border: 1px solid #657b83;*/
}
nav a {
    color: #586E75;
}
nav a:hover {
    background: #93a1a1;

}
aside ul, .pager, nav > ul, .unstyled, .hright > ul {
    list-style: none outside none;
}
aside ul {
    margin: 8px 0px;
    padding: 0px 20px;
}
nav > ul {
    margin:0;
    padding: 0px 20px;
}
.hleft {
    float: left;
}
.hright {
    float: right;
}

.row:after, .pager:after, nav:after, nav > ul:after {
    clear: both;
}
.row:before, .row:after, .pager:after, nav:before, nav:after, nav > ul:before, nav > ul:after {
    display: table;
    content: "";
}
nav > ul > li {
    float: left;
}
nav > ul > li a {
    display: block;
    padding: 8px 12px;
}
nav > ul > li a:hover {
    color : #fdf6e3; 
    
} 
.pager .previous a {
    float: left;
}
.pager .next a {
    float: right;
}
.pager a {
    border: 1px solid #DDDDDD;
    border-radius: 15px 15px 15px 15px;
    padding: 5px 14px;
}
.pager a:hover {
    border: 1px solid #DDDDDD;
    background: #eee8d5;
    border-radius: 15px 15px 15px 15px;
    padding: 5px 14px;
}
.span8 {
    float: left;
    width: 618px;
    background-color: #fdf6e3;
    border: 1px solid #657b83;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
        
}

.time {
    float: left;
    text-align: right;
    padding-right: 20px;
    width: 120px;
}
aside {
    float: right;
    width: 298px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #fdf6e3;
    border: 1px solid #657b83;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
}
